*{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    background: #ecf0f1;
    
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

input{
    margin: .6rem;
    padding: .6rem;
    border: none;
    outline: none;
    border-radius: .6rem;
    font-size: 20px;
}

.btn {
    border: none;
    color: white;
    background: #222;
    padding: .6rem;
    border-radius: .6rem;
    font-size: 20px;
    cursor: pointer;
}

.list-item {
    background: white;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    border: 1px solid #ddd;
    border-radius: .4rem;
    margin: 6px .6rem;
    align-items: center;
    transition: all .4s;
}

.list-item:hover{
   cursor: pointer;
}

.card {
    width: 30%;
}

form#input-form {
  
    text-align: center;
}

.text-red{
    background: tomato;
    
}
.bg-success{
   margin: .5rem 0; 
   padding: .5rem 0; 
   background: #ddffdd;
   border-left: 6px solid #04aa6d;
}
.bg-danger{
   margin: .5rem 0; 
   padding: .5rem 0; 
   background: #ffdddd;
   border-left: 6px solid #a44436;
}